<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".sync.PhoneWakeSyncListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/wakesync/" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/wakesync/alarm/state/" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/alarms" />
            </intent-filter>
        </service>
        <service
            android:name=".sync.WearActionListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/alarmclockxtreme/action/" />
            </intent-filter>
        </service>
        <receiver android:name=".sync.PhoneLocalAlarmTriggerReceiver" android:exported="false">
            <intent-filter><action android:name="com.sysadmindoc.alarmclock.WAKESYNC_LOCAL_FIRED" /></intent-filter>
        </receiver>
        <receiver android:name=".sync.PhoneLocalAlarmActionReceiver" android:exported="false">
            <intent-filter><action android:name="com.sysadmindoc.alarmclock.WAKESYNC_LOCAL_ACTION" /></intent-filter>
        </receiver>
        <receiver android:name=".sync.WakeSyncPeriodicReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.sysadmindoc.alarmclock.WAKESYNC_PERIODIC_SYNC" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".sync.WakeSyncStartupProvider"
            android:authorities="${applicationId}.wakesync.startup"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
